<h1>Signup!</h1>
<br>
<%= form_for :user, url: [:users] do |f| %>
  <div class="well">
  <div class="form-group">
  First Name: <%= f.text_field :first_name, placeholder: "Enter your first name", class: "form-control"%>
  <br>
  Last Name: <%= f.text_field :last_name, placeholder: "Enter your last name", class: "form-control" %>
  <br>
  Email: <%= f.text_field :email, placeholder: "Enter your email", class: "form-control" %>
  <br>
  Password: <%= f.password_field :password, placeholder: "Enter your password", class: "form-control" %>
  <br>
  Password Confirmation: <%= f.password_field :password_confirmation, placeholder: "Confirm your password", class: "form-control" %>
  </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
<% end %>
